* {
    --color-primary: #ed661f;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Inter', sans-serif;
}


/* Flex */
.d-flex { display: flex;}
.direction-row {flex-direction: row;}
.direction-col {flex-direction: column;}
.justify-space-between { justify-content: space-between;}
.justify-space-around {justify-content: space-around;}
.justify-center {justify-content: center;}
.justify-start {justify-content: start;}
.justify-end {justify-content: end;}
.align-center {align-items: center;}
.align-start {align-items: flex-start;}
.align-end {align-items: flex-end;}
.flex-basis-20pc {flex-basis: 20%;}
.grow-1 {flex-grow: 1;}
.shrink-1 {flex-shrink: 1;}

/* Float */
.float-left {float: left;}
.float-right {float: right;}
.clear-both {clear: both;}


/* Width */
.width-90vw {width: 90vw;}
.width-80vw {width: 80vw;}
.width-70vw {width: 70vw;}
.width-60vw {width: 60vw;}
.width-50vw {width: 50vw;}
.width-40vw {width: 40vw;}
.width-30vw {width: 30vw;}

/* Height */
.height-100pc {height: 100pc;}


/* Texts */
.color-primary {color: #ed661f;}
.color-black {color: black;}
.color-white {color: white;}
.text-align-center {text-align: center;}


/* Background */
.bg-black {background-color: black;}
.bg-white {background-color: white;}
.bg-primary {background-color: var(--color-primary);}


/* Margin */
.m-auto {margin: auto;}
.m-left-right {margin-left: 0.6rem; margin-right: 0.6rem;}
.m-top-bottom {margin-top: 1rem; margin-bottom: 1rem;}
.m-top-bottom-5x {margin-top: 5px; margin-bottom: 5px;}
.m-top-bottom-10px {margin-top: 10px; margin-bottom: 10px;}


/* Padding */
.p-7vw {padding: 7vw;}
.p-20px {padding: 20px;}

.p-top-2em {padding-top: 2em;}
.p-top-3em {padding-top: 3em;}
.p-top-4em {padding-top: 4em;}
.p-top-5em {padding-top: 5em;}

.p-bottom-2em {padding-bottom: 2em;}

/* Hover */
.hover-shadow:hover {box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); }

.hover-opacity:hover {opacity: 0.9;}


.underline {
    border-bottom: 3px solid var(--color-primary);
    padding-bottom: 10px;
}


.container {width: 80vw; margin: auto; padding: 7vw;}

/* STYLE ELEMENTS */
ul {list-style: none;}

a {text-decoration: none;}


/* STYLIZE THE NAVBAR */
nav > div {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

#get-started-button {
    padding: 0.6em;
    text-align: center;
    background-color: var(--color-primary);
}

nav div:nth-child(1) a:hover,
nav div:nth-child(2) a:hover,
nav div:nth-child(3):first-child a:hover {
    border-bottom: 2px solid var(--color-primary);
}

a:active {
    text-decoration: none;
    color: var(--color-primary);
}

nav .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}


/* STYLIZE SECTION 1 */
.section-1 {
    height: 60vw;
    background-image: url(/assets/image\ 1.png);
    background-size: contain;
    background-repeat: repeat-x;
    position: relative;
}

.section-1 .veggies-image img {
    width: 90%;
}

.section-1 .veggies-image {
    position: absolute;
    left: 40%;
    bottom: 45%;
}

/* The text should always appear above the vegetables */
.section-1 .text {position: absolute; z-index: 2;}

#explore-more-button {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--color-primary);
    margin-top: 10vw;
}

/* STYLIZE STATISTICS AND SECTION 2 */
.section-2 {
    position: relative;
}

.statistics {
    position: absolute;
    padding: 50px 30px;
    left: 27%;
    right: 16%;
    top: -100px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.statistics:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

.section-2 img {
    width: 50vw;
}


/* STYLIZE PRODUCT CATEGORY IMAGES */

.product-category-img {
    width: 17vh;
}